html, body{
  background: #dee1f3;
  
}

*{
  padding: 0%;
  margin: 0%;
}


#b{
  position: fixed;
  height: 100%;
  width: 100%;
  
}

.bb{
  width: 200%;
  height: 20%;
  transform: rotate(45deg);
  background: #92ccf1;
}
.bbb{
  width: 200%;
  height: 20%;
  transform: rotate(45deg);
  background: #8c9df6;
}
.bbbb{
  width: 200%;
  height: 20%;transform: rotate(45deg);
  background: #d0c5bf;
}

